@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f09942;
  --background-light: #f8f7f6;
  --background-dark: #221910;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-light);
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: #f1f5f9;
  }
}
